<ul class="inline-list" metal:define-macro="inlineMenu">
	<li>
		<a change:link="document post/getThread">${trans:m.forums.frontoffice.view-thread,ucf}</a>
		<span> | </span>
	</li>
	<li><a href="${post/getPostUrlInThread}" class="link">${trans:m.forums.frontoffice.locate-in-thread,ucf}</a></li>
</ul>

<h1 change:h="">${trans:m.forums.frontoffice.post-detail-title,ucf,postId=post/getPostId}</h1>

<p class="normal">${trans:m.forums.frontoffice.number-n-in-thread-x,ucf,number=post/getNumber,thread=post/getThread/getLabelAsHtml}</p>

<form metal:use-macro="inlineMenu"></form>

<tal:block change:include="module 'forums'; template 'Forums-Inc-PostList-Success'; type 'html'; postListInfo postListInfo" />

<form metal:use-macro="inlineMenu"></form>

<tal:block change:block="" module="forums" name="RssMenu" parentref="${post/getId}" />